---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About Page - radio.FM" description="About page for radio.FM, a personal project for easy radio listening">
    <div class="max-w-3xl px-4 sm:px-6 lg:px-8 mx-auto">
        <!-- Content -->
        <div class="space-y-5 md:space-y-8">
            <a href="/" class="inline-flex items-center gap-x-1.5 text-sm text-gray-600 decoration-2 hover:underline focus:outline-none focus:underline">
                <svg class="shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m15 18-6-6 6-6"/></svg>
                Home
            </a>

            <p class="text-gray-500">radio.FM is a personal project born out of a simple need: to have a single, easy-to-use platform for my favorite radio stations. It's not a commercial product, but rather a solution I created for myself to enjoy the radio sources I love, all in one place.</p>

            <p class="text-gray-500">The main goal of this project was to create a minimalist, user-friendly interface that allows me to listen to my preferred radio stations effortlessly. By sharing it as an open-source project, I hope it might also be useful for others who have similar needs.</p>

            <p class="text-gray-500">radio.FM is created by <a href="https://github.com/antheiz" class="text-blue-600 decoration-2 hover:underline focus:outline-none focus:underline font-medium">Antheiz</a> and is open-source. If you're interested in how it's built or want to adapt it for your own use, you can find the source code on GitHub at <a href="https://github.com/antheiz/radio-fm" class="text-blue-600 decoration-2 hover:underline focus:outline-none focus:underline font-medium">https://github.com/antheiz/radio-fm</a>.</p>

            <p class="text-gray-500">While this project was created for personal use, I welcome anyone who finds it helpful to use and contribute to it. Enjoy your listening experience!</p>
        </div>
        <!-- End Content -->
    </div>
</Layout>
