---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About Page - radio.FM" description="This about page for radio.FM">
    <div class="max-w-3xl px-4 sm:px-6 lg:px-8 mx-auto">
        <!-- Content -->
        <div class="space-y-5 md:space-y-8">
            <a href="/" class="inline-flex items-center gap-x-1.5 text-sm text-gray-600 decoration-2 hover:underline focus:outline-none focus:underline">
                <svg class="shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m15 18-6-6 6-6"/></svg>
                Home
            </a>

            <p class="text-gray-500">Lorem ipsum dolor sit amet consectetur adipisicing. <a class="text-blue-600 decoration-2 hover:underline focus:outline-none focus:underline font-medium" href="#">Lorem, ipsum.</a>, Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam similique voluptate tenetur velit enim maiores?</p>

            <ul class="list-disc list-outside space-y-5 ps-5 text-gray-500">
                <li class="ps-2">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odit amet reprehenderit quos nemo fugiat eveniet!</li>
                <li class="ps-2">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consectetur dolorum cumque porro vitae, ut consequuntur! <a class="text-blue-600 decoration-2 hover:underline focus:outline-none focus:underline font-medium" href="#">Lorem, ipsum.</a>.</li>
            </ul>

            <p class="text-gray-500">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eum, illum veniam praesentium voluptatem numquam beatae, maiores itaque sunt qui voluptas hic non vero? Sed ducimus autem dolorem rem! Repellendus, consequuntur.</p>
        </div>
        <!-- End Content -->
    </div>
</Layout>
