<footer class="bg-white">
  <div class="mx-auto max-w-3xl px-4 pb-6 pt-8 sm:px-6 lg:px-8">
    <div class="mt-12 border-t border-gray-100 pt-6">
      <div class="text-center sm:flex sm:justify-between sm:text-left">
        <p class="text-gray-500">
          <span class="block sm:inline"> Released under the</span>

          <a
            class="inline-block text-gray-600 underline transition hover:text-gray-600/75"
            href="https://github.com/antheiz/radio-fm/blob/master/LICENSE"
          >
            MIT License
          </a>
        </p>

        <p class="mt-4 text-gray-500 sm:order-first sm:mt-0">&copy; 2024 radio.FM</p>
      </div>
    </div>
  </div>
</footer>
