<footer class="bg-white">
  <div class="mx-auto md:max-w-3xl px-4 pb-6 sm:px-6 lg:px-8">
    <div class="flex flex-col md:flex-row md:justify-between mt-16 border-t border-gray-100 pt-6">
        <p class="text-sm text-gray-500">
          <span> Released under the</span>

          <a
            class="inline-block text-gray-600 underline transition hover:text-gray-600/75"
            href="https://github.com/antheiz/radio-fm/blob/master/LICENSE"
          >
            MIT License
          </a>
        </p>

        <p class="mt-4 text-sm text-gray-500 md:order-first md:mt-0">&copy; 2024 radio.FM</p>
    </div>
  </div>
</footer>
